@charset "UTF-8";
body{
	margin-top: 5em;
}
#main{
	background-color: rgb(46, 108, 209);	
	padding: 1em;
	margin: 1em;
	color: white;
}
#create{
	border-color: black;
	padding: 1em;
	border: 3px solid black;
}
fieldset{
	border: none;
}
legend{
	font-size: 3em;
	text-align: center;
	font-weight: bold;
}
label{
	font-size: 1.5em;
}
input[name="title"] {
	width: 50%;
	border: 1px solid black;
}
textarea[name="description"] {
	font-size: 1em;
	width: 90%;
	border: 1px solid black;
}
input[name="contributors"] {
	border: 1px solid black;
}
input[type="text"]{
	border: 1px solid black;
}

.hidden{
	display: none;
}
input[type="submit"]{
	font-size: 1em;
}
#center{
	text-align: center;
}
.empty{
	background-color: red;
}
option{
	background-color: white;
}
footer{
	position: relative;
	bottom: 0;
	width: 100%;
	clear: both;
	margin-top: 2em;
}
input[name="copyright"] {
	width: 20%;
}
<<<<<<< HEAD
#projectlinks{
	background-color: black;
}
=======

.cont{
	margin: 0.5em 0.25em 0.5em 0em;
}

#pics{
	position: relative;
}

#pics div{
	display: block;
}

#pics div input{
	margin-top: 1em;
	width: 15em;
}

#pics div img{
	display: block;
}

#pdfs{
	position: relative;
}

#pdfs div input{
	margin-top: 1em;
	
}

#pdfs div object{
	margin-top: 1em;
	display: block;
}
input{
	font-size: 1.3em;
	padding-top: 1em;
}
button{
	font-size: 1.5em;
	border-radius: 6px;
	margin: 0.1em;
	padding:0.2em;
}
#createnew, #save{
	font-size: 2em;
	border-radius: 6px;
	margin: 0.1em;
}
#createnew:hover, #save:hover, .changeButton:hover{
	background-color:#b7d7e8;	
}
input{
	margin: 0.2em;
}
select{
	font-size:1em;
}
#link, #save, #title, #createnew, .cont{
	padding-top: 0em;
}
.oldpics{
	margin-top:1.5em;
	font-size: 1.5em;
	padding: 0.2em;
	display: inline;
	vertical-align: top;
}
.oldpics{
	font-size: 1.5em;
	padding: 0.2em;
	display: inline;
	vertical-align: top;
}
.background	{
	background-color: #b7d7e8;
	border: 1px solid black;
	padding:0.2em;
	margin-top: 0.2em;
}
button:hover{
	background-color:#87bdd8;
	color: white;
	border-color: #87bdd8;
}

>>>>>>> refs/remotes/origin/development
