@charset "UTF-8";
body{
	margin-top: 5em;
}
#main{
	background-color: rgb(46, 108, 209);	
	padding: 1em;
	margin: 1em;
}
#create{
	border-color: black;
	padding: 1em;
	border: 3px solid black;
}
fieldset{
	border: none;
}
legend{
	font-size: 3em;
	text-align: center;
	font-weight: bold;
}
label{
	font-size: 1.5em;
}
input[name="title"] {
	width: 50%;
	border: 1px solid black;
}
textarea[name="description"] {
	width: 53.5%;
	border: 1px solid black;
}
input[name="contributors"] {
	border: 1px solid black;
}
input[type="text"]{
	border: 1px solid black;
}

.hidden{
	display: none;
}
input[type="submit"]{
	font-size: 1em;
}
#center{
	text-align: center;
}
.empty{
	background-color: red;
}
footer{
	position: relative;
	bottom: 0;
	width: 100%;
	clear: both;
	margin-top: 10.6em;
}
input[name="copyright"] {
	width: 20%;
}

.cont{
	margin: 0.5em 0.25em 0.5em 0em;
}

#pics{
	position: relative;
}

#pics div{
	display: block;
}

#pics div input{
	margin-top: 2em;
}

#pics div img{
	margin-top: 2em;
	display: block;
}

#pdfs{
	position: relative;
}

#pdfs div input{
	margin-top: 2em;
	
}

#pdfs div object{
	margin-top: 2em;
	display: block;
}

