@charset "UTF-8";
body{
	background-color: orange;
	background-size: 100%;
}
header{
	text-align: center;
	top: 0px;
	width: 100%;
	position:fixed;
	background-color: rgb(46, 108, 209);
	margin-Bottom: 15em;
	z-index: 1;
	height: 4em;
	margin-left: -0.5em;
}
footer{
	background-color: rgb(46, 108, 209);
	padding: 0.3em;
	width: 100%;
	height: 4em;
	margin-top: 1em;
	margin-left: -0.5em;
	padding-right: 1em;
}
h1{
	display: inline;	
	color: white;
	font-size: 3em;
}
a{
	color:  white;
	text-decoration: none;
	opacity: 1.0;
}
.icons{
	width: 40px;
	height: 40px;
	display: inline;
}
.dropdown{
	position: relative;
	display: inline-block;
	text-align: left;
	float:left;
	padding-left: 0.4em;
}
.dropdown-content{
	display: none;
    position: absolute;
    background-color: rgba(99, 212, 216,1.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 0.5;
    margin: 0em;
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(46, 108, 209);
    opacity: 1;
}
.right{
	float:right;
	padding:0.5em;
}
.footerlinks{
	display: inline;
	opacity: 1.0;
	padding: 0.3em;
}
footer p{
	margin-left: 2.8em;	
}
body{
	margin-top: 6em;
}
.error{
	background-color:red;
}
