@charset "UTF-8";
section{
	text-align: left;
	color:rgb(46, 108, 209);
}
fieldset{
	border: none;
}

.central{
	text-align: center;
	padding-top: 5em;
	padding-bottom: 5em;
}
.info{
	border-collapse: collapse;
	margin:0em;
	font-size: 15px;
}
.info1{
	font-size: 15px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: 2pt solid rgb(46, 108, 209);		
	border-radius: 0.5em;
	text-align: center;
}
.button{
	font-size: 15px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: 2pt solid rgb(46, 108, 209);		
	border-radius: 0.5em;
	margin-top: 0.5em;
	background-color: rgb(46, 108, 209);
	color: white;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	clear: both;
	margin-top: auto;
	margin-bottom: -10em;
}

#main a {
	color: #b7d7e8;
}
#main a:hover{
	color: #87bdd8;
}
#sub:hover{
	background-color: #b7d7e8;
	border-color: #b7d7e8;
	color: black;
}